<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

   <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>

      <%= link_to('Edit registration', edit_user_registration_path) %>
      <%= link_to('Logout', destroy_user_session_path, method: :get) %>

        <% else %>

      <%= link_to('Register', new_user_registration_path)  %>
      <%= link_to('Login', new_user_session_path)  %>

    <% end %>

    <%= yield %>
  </body>
</html>
